.dd{
    background-color: $tertiary;
    border-radius: 15px;
    color: $secondary;
    text-align: center;
    margin-top: 1%;

    // position the dropdown filters
    &-sector,
    &-country,
    &-badges{
        position: relative;
        width: 25%;
    }

    &:hover{
        cursor: pointer;
    }

    &-header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: .3em 0;
        h3{
            flex-grow: 10;
        }

        svg{
            fill: white;
            position: absolute;
            right: 1em;
            height: 1em;
            width: 1em;
        }

        &-arrow{
            height: 2em;
            width: 2em;
            flex-grow: 1;
        }
    }
    
    // dropdown menu options
    &-list{
        height: 0;
        transition: height 1s;
        overflow: hidden;
        display: none;
        position: absolute;
        background-color: white;
        color: black;
        width: 100%;
    }

    // When the dropdown menu is open
    &-open{
        border-radius: 15px 15px 0 0;

        .dd-header{
            svg{
                transform: rotateZ(180deg);
            }
        }

        .dd-list{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: fit-content;
            max-height: 50vh;
            overflow-y: scroll;
            z-index: 100;
            li{
                border-bottom: thin solid black;
                width: 100%;
                padding: 5px 0;
    
                &:hover{
                    background-color: $tertiary;
                    color: $secondary;
                }
            }
        }
    }

}

@media screen and (max-width: 568px){
    .dd{

        &-search,
        &-sector,
        &-country,
        &-badges{
            position: absolute;
            width: 85%;
        }

        &-search{
            top: 20vh;
            border: none;
        }

        &-country{
            top: 30vh;
            z-index: 100;
        }
        &-sector{
            top: 40vh;
        }
        
    }
}