.filter-mobile{
    display: none;
}

.filter{
    padding: .5em 1.5em;
    
    form{
        display: flex;
    }

    .filter-input{
        justify-content: space-between;

        .sort_button,
        .filter-search{
            flex-grow: 1;
            max-width: 45%;
            overflow: hidden;
        }

    }

    &-dd{
        justify-content: space-between;
    }
}

@media screen and (max-width: 568px){

    .filter{
        display: none;
    }

    .filter-mobile{       
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: $primary;
        width: 100vw;
        text-align: center;
        height: 6vh;
        form{
            display: none;
        }

        .filter-option{
            padding: .5em 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;
            // .mobile-slider{
            //     height: 2em;
            //     width: 1.5em;
            // }

            // h3::after{
            //     background-image: url('../../assets/img/filter.svg');
            //     background-size: 1em;
            //     background-repeat: no-repeat;
            //     display: inline-block;
            //     width: 1em;
            //     height: 1em;
            //     position: relative;
            //     content: "";
            //     left: 2em;
            // }
        }

        transition: height 1s,
                    background-color 1s;

        &-open{
            background-color: $secondary;
            height: 100vh;
            display: flex;
            flex-direction: column;
            .filter-option{
                flex-grow: 1;
                // h3::after{
                //     background-image: url('../../assets/img/close.svg');
                // }
            }
            form{
                display: flex;
                flex-direction: column;
                padding: 0 2em;
                flex-grow: 10;
                justify-content: space-evenly;
            }

        }
    }
  
}