.sort_button{
    text-align: center;
    border: thin solid rgba(0, 0, 0, .5);
    border-radius: 15px;
    transition: all .3s ease-in;

    &:hover{
        cursor: pointer;
        background-color: $tertiary;
        color: $secondary;
        box-shadow: 1px 2px $secondary;
    }
}