.card-guests{
    display: flex;
    width: 100%;
    position: relative;
    flex-wrap: wrap;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;

    .single-guest{
        flex-grow: 1;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .profile-pic{
            height: 100%;
            margin-bottom: 5px;
          }
          p{
            font-weight: bold;
          }
    }
}