
  .company-main {
    margin: 1em 0;
    border: 1px solid black;
    height: 20em;
    width: 30%;
    text-align: center;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

    word-break: break-word;
    &-upper, &-lower{
        flex-grow: 1;
        height: 50%;
        padding: .5em .5em;
    }

    &-upper{
        background-color: $primary;
        border-radius: 15px 15px 0 0;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .star{
          height: 3em;
          width: 3em;
          align-self: flex-end; 
        }

        h3{
          flex-grow: 2;
          display: flex;
          align-items: center;
          justify-content: center
        }

    }

    &-lower{
      background-color: $secondary;
      text-align: start;
      border-radius: 0 0 15px 15px;
      border-top: 1px solid black;
      a{
        color: inherit;
        text-decoration: none;
        display: flex;
        flex-direction: column;
      }
  

      .card-info{
        margin-bottom: 5px;
        p{
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .company-profile{

    margin-top: 2em;
    padding: 2em;
    color: $tertiary;
    border-radius: 15px;
    background-color: $secondary;

    &-upper{
      padding: 2em; 
      display: flex;
      flex-direction: column;
      align-items: center;

      .star{
        height: 7em;
        width: 4em;
        align-self: flex-end; 
      }
    }

    &-mid{
      padding: 1em 0;
      display: flex;
      border-top: medium solid white;
      border-bottom: medium solid white;
      justify-content: space-evenly;
      &-left{
        max-width: 46%;
        border-right: medium solid white;
        padding: 0 2em 0 0;
        flex-grow: 1;
      }

      &-right{
        padding: 0 0 0 2em;
        flex-grow: 1;
      }
    }

    &-guests{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1em;

      &-profile{
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 1em;

        .single-guest{
          max-width: 50%;
          width: 50%;
          display: flex;
        }
      }
    }
  }


  @media screen and (max-width: 568px){

    .company-main{
        width: 80%;
        // overflow: hidden;
        word-break: break-word;
    }
 
}