.favourite, 
.favourite-like{
  stroke: black;
  // height: 2em;
  // width: 2em;
  filter: drop-shadow(3px 1px rgba($tertiary, .5));
  // align-self: flex-end;         
  &:hover{
    cursor: pointer;
  }
}

.favourite{
  fill: white;
  
  &-like{
    fill: $favourite;
  }
}