/*
* settings for anything font related
*/

@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700&display=swap');
body{
    font-family: 'Crimson Text', serif;
}

h1{
    font-size: 250%;
}

h2{
    font-size: 200%;
}

h3{
    font-size: 150%;
}