/*
* Anything related to variables, mixins etc.
*/

// Color variable. Change these to change the color scheme of the entire project
$primary: #FFBEFF;
$secondary: #c4c4c4;
$tertiary: #2d2d2d;

$favourite: #FFD600;