.header{
    background-color: $primary;
    text-align: center;
    padding: .5em 0;
    display: flex;
    justify-content: center;
    
    &-link{
        display: inherit;
        text-decoration: none;
        color: $tertiary;
    }

    h2{
        margin-left: .3em;
    }
}