
.filter-search{
    position: relative;
    display: flex;
    justify-content: flex-end;
    border: thin solid rgba(0, 0, 0, .5);
    border-radius: 15px;
    input{
        width: 100%;
        box-sizing: content-box;
        border: none;
        text-align: center;
    }

    .search_button{
        width: 20%;
        text-align: center;
        background-color: $tertiary;
    
        &:hover{
            cursor: pointer;
        }
        .search_icon{
            fill: $secondary;
            position: relative;
            height: 1em;
            top: 1.4px;
        }
    }
}
