/*
*   App style settings.
*/

@import './stylesheets/reset';
@import './stylesheets/settings';
@import './stylesheets/font';

@import './components/header/header';
@import './components/card/card';
@import './components/dropdown/filter';
@import './components/dropdown/dd';
@import './components//search/search';
@import './components/profile/profile';
@import './components/icon/icons';
@import './components/button/button';
@import './components/pagination/pagination';



.App{
    width: 75%;
    margin: 0 auto;
  }
  
  .companies{
    margin-top: 50px;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
  }
  
  @media screen and (max-width: 568px){
    
  }